@charset "UTF-8";
/* CSS Document */

body{
	margin: 0px;
	padding:0px;
	background-image: url(pics/Photo3.JPG);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}

#fade-box{
	border:none;
	height:280px;
	background-color:black;
	opacity: 0.3;
	margin-top:29.1%;
	position: static;
}

section, #about-information, h1, p{
	color:white;
	font-family:'Playfair Display';
	position: relative;
}

h1{
	margin-top:-20%;
	text-align: center;
	font-size: 50px;
}

p{
	text-align: center;
	font-size: 20px;
	margin-top:-2%;
	margin-bottom: 3.98%;
	
}

#navigation, ul, li, a{
	display: inline;
	text-decoration: none;
	color: white;
	padding:0.7%;
	margin-left:2%;
}

#navigation, a:active{
	color: black;
}

footer{
	color:white;
	margin-left:45%;
	margin-top:2%;
}

@media only screen and (min-device-width:1920px){
	
	#fade-box{
	margin-top:41.6%;
	
}
	h1{
	margin-top:-14%;
	text-align: center;
	font-size: 50px;
}

p{
	text-align: center;
	font-size: 20px;
	margin-top:-0.7%;
	margin-bottom: 1.8%;
}
	#navigation, ul, li, a{
	padding:0.7%;
	margin-left:2.7%;
	font-size: 18px;
}
}

@media only screen and (max-device-width:1680px){
	
	#fade-box{
	margin-top:36.88%;
	
}
	h1{
	margin-top:-16%;
	text-align: center;
	font-size: 50px;
}

p{
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	font-size: 20px;
	margin-top:-0.7%;
	margin-bottom: 2.2%;
}
	#navigation, ul, li, a{
	padding:0.7%;
	margin-left:2.7%;
	font-size: 18px;
}
}

@media only screen and (max-device-width:1440px){
	#fade-box{
	margin-top:32.6%;
}


h1{
	margin-top:-19%;
	text-align: center;
	font-size: 50px;
}

p{  margin-left:3%;
	margin-right: 3%;
	text-align: center;
	font-size: 20px;
	margin-top:-1.8%;
	margin-bottom:4%;
	
}
#navigation, ul, li, a{
	padding:0.7%;
	margin-left:2%;
	font-size: 18px;
}
}


@media only screen and (max-device-width:1280px){
	#fade-box{
	margin-top:29%;
}


h1{
	margin-top:-20.5%;
	text-align: center;
	font-size: 50px;
}

p{
	text-align: center;
	font-size: 20px;
	margin-top:-2%;
	margin-bottom:4.2%;
	
}

}


@media only screen and (max-device-height:768px) and (min-device-width:1024px){
	#fade-box{
	margin-top:52.5%;
	height: 230px;
}


h1{
	margin-top:-21%;
	text-align: center;
	font-size: 30px;
}

p{
	margin-left:1%;
	margin-right: 1%;
	text-align: center;
	font-size: 15px;
	margin-top:2%;
	margin-bottom:4.7%;
	
}
#navigation, ul, li, a{

	padding:0.5%;
	margin-left:2%;
	font-size: 14px;
	
}
	footer{
		font-size: 12px;
	}
}

@media only screen and (max-device-height:768px) and (min-device-width:1366px){
	#fade-box{
	margin-top:35.5%;
	height: 280px;
}


h1{
	margin-top:-18%;
	text-align: center;
	font-size: 30px;
}

p{
	margin-left:1%;
	margin-right: 1%;
	text-align: center;
	font-size: 15px;
	margin-top:2%;
	margin-bottom:4.7%;
	
}
#navigation, ul, li, a{

	padding:0.5%;
	margin-left:2.5%;
	font-size: 16px;
	
}
	footer{
		font-size: 15px;
	}
}

@media only screen and (max-device-height:736px){
	#fade-box{
	margin-top:122%;
	height: 230px;
}


h1{
	margin-top:-53%;
	text-align: center;
	font-size: 25px;
}

p{
	margin-left:2%;
	margin-right: 3%;
	text-align: center;
	font-size: 12px;
	margin-top:8%;
	margin-bottom:10%;
	
}
#navigation, ul, li, a{

	padding:-1%;
	margin-left:1.6%;
	font-size: 7.5px;
	
}
	footer{
		font-size: 9px;
	}
}

@media only screen and (max-device-height:720px) {
	#fade-box{
	margin-top:34.4%;
	height: 280px;
}


h1{
	margin-top:-20.5%;
	font-size: 50px;
}

p{
	text-align: center;
	font-size: 20px;
	margin-top:-2%;
	margin-bottom:4.2%;
	
}
#navigation, ul, li, a{

	padding:-1%;
	margin-left:2.5%;
	font-size: 16px;
	
}
	footer{
		font-size: 14px;
	}
}
@media only screen and (max-device-height:667px){
	#fade-box{
	margin-top:116%;
	height: 230px;
}


h1{
	margin-top:-59%;
	text-align: center;
	font-size: 25px;
}

p{
	text-align: center;
	font-size: 12px;
	margin-top:8%;
	margin-bottom:14%;
	
}
#navigation, ul, li, a{

	padding:-1%;
	margin-left:1%;
	font-size: 7.5px;
	
}
	footer{
		font-size: 9px;
	}
}

@media only screen and (max-device-height:640px) and (min-device-width:1024px){
	#fade-box{
	margin-top:26.6%;
	height: 230px;
}


h1{
	margin-top:-21%;
	text-align: center;
	font-size: 30px;
}

p{
	text-align: center;
	font-size: 15px;
	margin-top:2%;
	margin-bottom:4.93%;
	
}
#navigation, ul, li, a{

	padding:0.5%;
	margin-left:2%;
	font-size: 14px;
	
}
	footer{
		font-size: 12px;
	}
}
@media only screen and (max-device-height:640px) and (min-device-width:360px){
	#fade-box{
	margin-top:113.6%;
	height: 230px;
}


h1{
	margin-top:-64%;
	text-align: center;
	font-size: 25px;
}

p{
	text-align: center;
	font-size: 10px;
	margin-top:15%;
	margin-bottom:14%;
	
}
#navigation, ul, li, a{

	padding:-1%;
	margin-left:0.8%;
	font-size: 7.5px;
	
}
	footer{
		font-size: 9px;
	}
}






@media only screen and (max-device-height:568px){
	#fade-box{
	margin-top:105%;
	height: 230px;
}


h1{
	margin-top:-69%;
	text-align: center;
	font-size: 25px;
}

p{
	text-align: center;
	font-size: 10px;
	margin-top:15%;
	margin-bottom:14%;
	
}
#navigation, ul, li, a{

	padding:-1%;
	margin-left:0.3%;
	font-size: 7.5px;
	
}
	footer{
		font-size: 9px;
	}
}

